body {
    margin: 0;
}

h1,h2,h3 {
    font-family:'Lato', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 400;
}
.content {
    width: min(90vw, 66ch);
    font-size:20px;

    font-family:"Noto Sans",sans-serif;
    font-size: min(20px, 5vw);
    line-height: 1.75em;

    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
}

#me {
    border-radius: 100%;
    border: 1px solid white;
    width: min(80%, 400px);
    height: min(80%, 400px);
    padding: 5px;
    background-color: white;
    filter: drop-shadow(0px 0px 10px darkgray);

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-block: max(7vh, 20px);
}

.fill-text {
    width: fit-content;
    padding: 5px;
    line-height: 100%;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
}

.fill-text a{
    text-decoration: underline none;
    color: black;
    transition: all 0.3s ease-out;
}

.fill-text a:hover{
    color: white;
    background-color: black;
}

#about-me {
    width: min(66ch, 90vw);
}

#home-button {
    display: grid;
    margin: 0;
    width: 100%;
    height: min(80px, 30vw);
    text-decoration: none;
    background-color: black;
}

#home-button img {
    display: none;
}

#home-button p {
    font-size: min(40px,10vw);
    font-family: "Lato", sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: white;
    text-decoration: underline;
}

@media only screen and (min-width: 1000px)  {

    #home-button {
        position:absolute;
        width: max(6vw, 100px);
        margin: 20px;
        background-color: inherit;
    }

    #home-button p {
        display: none;
    }

    #home-button img {
        width: max(6vw, 100px);
        display: block;
        filter: saturate(0%) drop-shadow(0px 0px 3px black);
        transition: filter 0.3s ease-out;
    }

    #home-button img:hover {
        filter: saturate(100%) drop-shadow(0px 0px 5px black);
    }

}
