body {
    margin: 0;
}

article {
    font-family:"Noto Sans",sans-serif;
    font-size: min(20px, 5vw);
    line-height: 1.75em;
    width: min(66ch, 90vw);
    margin-left:auto;
    margin-right:auto;
}

header {
    color: white;
    height: auto;
    background-color: black;
    margin-bottom: 10vh;
    display: grid;
}

footer {
    height: 40vh;
    width: 100%;
    margin: 0;
    margin-top: 10vh;
}

#home-button {
    display: grid;
    margin: 0;
    width: 100%;
    height: min(80px, 30vw);
    text-decoration: none;
    background-color: black;
}

#home-button img {
    display: none;
}

#home-button p {
    font-size: min(40px,10vw);
    font-family: "Lato", sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: white;
    text-decoration: underline;
}

h1,h2,h3 {
    font-family:'Lato', sans-serif;
}

article h2{
    font-size: 36px;
}

article h3 {
    font-size: 24px;
}

article a {
    text-decoration: underline none;
    color: black;
    transition: background-color 0.3s ease-out;
}

article a:hover {
    color: white;
    background-color: black;
}

header h1 {
    margin-top: max(80px, 15vh);
    margin-bottom: max(80px, 15vh);
    margin-left: max(20px, 8vw);
    margin-right: max(20px, 8vw);
    text-align: center;
    place-self: center;
    font-size: min(60px,15vw);
    filter: drop-shadow(0px 0px 15px black);
}

figure {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

figure img {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align:center;
    font-style: italic;
    font-size: min(18px, 4.5vw);
    margin-top: 10px;
}

li {
    margin-bottom: 0.5em;
}

table {
    border:1px solid; border-collapse: collapse;border-spacing: 0px; margin:auto;
}

th {
    font-style:bold;
    border:1px solid;padding:5px;
}

td {
    padding: 5px;
}

@media only screen and (min-width: 1000px)  {
    header h1 {
        filter: drop-shadow(0px 0px 20px black);
    }
    figure img {
        max-width:100%;
        max-height: 60vh;
    }

    #home-button {
        position:absolute;
        margin:20px;
        width: auto;
        height: auto;
        background-color: inherit;
    }

    #home-button p {
        display: none;
    }

    #home-button img {
        width: max(6vw, 100px);
        display: block;
        filter: saturate(0%) drop-shadow(0px 0px 3px black);
        transition: filter 0.3s ease-out;
    }

    #home-button img:hover {
        filter: saturate(100%) drop-shadow(0px 0px 5px black);
    }
}
