body {
    margin: 0;
    margin-bottom:40vh;
}

.article {
    font-family:sans-serif;
    font-size:20px;
    margin-left:20%;
    margin-right:20%;
}

.header {
    color: white;
    height: auto;
    background-color: black;
    margin-bottom: 10vh;
    display: grid;
}

#home-button {
    position:absolute;
    margin:20px;
}

#home-button img {
    width: max(6vw, 100px);
    filter: saturate(0%) drop-shadow(0px 0px 3px black);
    transition: filter 0.3s ease-out;
}

#home-button img:hover {
    filter: saturate(100%) drop-shadow(0px 0px 5px black);
}

h1,h2,h3 {
    font-family:'Lato', sans-serif;
}

.article h2{
    font-size: 36px;
}

.article h3 {
    font-size: 24px;
}

.header h1 {
    margin-top: max(80px, 15vh);
    margin-bottom: max(80px, 15vh);
    margin-left: max(20px, 8vw);
    margin-right: max(20px, 8vw);
    text-align: center;
    place-self: center;
    font-size: 60px;
    filter: drop-shadow(0px 0px 20px black);
}

.img-caption {
    text-align:center;
    font-style: italic;
}

table {
    border:1px solid; border-collapse: collapse;border-spacing: 0px; margin:auto;
}

th {
    font-style:bold;
    border:1px solid;padding:5px;
}
